.excel-reader-container {
    margin: 20px;
    font-family: Arial, sans-serif;
  }
  
  h2 {
    color: #333;
  }
  
  input[type='file'] {
    margin-bottom: 20px;
    padding: 5px;
  }
  
  .data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .data-table th,
  .data-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  
  .data-table th {
    background-color: #f4f4f4;
  }
  
  .no-data-message {
    margin-top: 20px;
    color: #777;
    font-style: italic;
  }
  .whatsapp-button {
    background-color: #25d366;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .whatsapp-button:hover {
    background-color: #1da851;
  }
  