<div class="excel-reader-container">
  <h2><i class="fas fa-file-excel"></i> Upload Excel File</h2>
  <label class="upload-button">
    <i class="fas fa-upload"></i> Pilih File
    <input type="file" (change)="onFileChange($event)" accept=".xlsx, .xls" hidden />
  </label>
  <div *ngIf="excelData | keyvalue as categories" class="data-tables-wrapper">
    <h2 *ngIf="bookingDate">
      <i class="fas fa-calendar-alt bookingDate"></i> Booking Date: {{ bookingDate }}
    </h2> 
    <div *ngFor="let category of categories" class="table-container"> 
      <div class="card">
        <h3 class="category-title">
          <i class="fas fa-route"></i> {{ category.key }}
        </h3>
        <div class="table-wrapper">
          <table class="data-table">
            <thead>
              <tr>
                <th><i class="fas fa-layer-group"></i> Group</th>
                <th><i class="fas fa-user"></i> Nama Tamu</th>
                <th><i class="fas fa-phone"></i> Phone</th>
                <th><i class="fas fa-envelope"></i> Email</th>
                <th><i class="fas fa-map-marker-alt"></i> Location</th>
                <th><i class="fas fa-cogs"></i> Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of category.value">
                <td>{{ row.Group }}</td>
                <td>{{ row.NamaTamu }}</td>
                <td>{{ row.Phone }}</td>
                <td>{{ row.Email }}</td>
                <td>{{ row.Location }}</td>
                <td>
                  <button
                    *ngIf="row.Phone || row.Email"
                    (click)="showActionModal(row)"
                    class="action-button"
                  >
                    <i class="fas fa-tools"></i> Action
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <p *ngIf="!(excelData | keyvalue)?.length" class="no-data-message">
    <i class="fas fa-exclamation-circle"></i> Silakan unggah file Excel untuk menampilkan data.
  </p>
</div>
